In [3]:
import pandas as pd
import datetime as dt
import numpy as np
import pyproj

SyntaxError: invalid syntax (<ipython-input-3-5ff198d705b4>, line 4)

In [46]:
dummy_df = pd.DataFrame({
    'STATION' : ['dummy 1', 'dummy 2', 'dummy 3', 'dummy 4', 'dummy 5']*100,
    'PEOPLE' : [np.random.randint(0,500) for i in range(500)],
    'DAY': [np.random.randint(0,6) for i in range(500)],
    'TIME' : [np.random.randint(0,5)*4 for i in range(500)],
    'LAT': [40.775149, 40.77481, 40.775025, 40.774938, 40.770313]*100,
    'LON': [-73.912074, -73.912151, -73.911891, -73.912337, -73.912337]*100
})



project_projection = pyproj.Proj("+init=EPSG:4326")  # wgs84
google_projection = pyproj.Proj("+init=EPSG:3857")  # default google projection

lon, lat = pyproj.transform(project_projection, google_projection, longitude, latitude)

dummy_df.head()

   STATION  PEOPLE  DAY  TIME        LAT        LON
0  dummy 1     236    0     4  40.775149 -73.912074
1  dummy 2     360    1     4  40.774810 -73.912151
2  dummy 3       9    5    12  40.775025 -73.911891
3  dummy 4     372    1    12  40.774938 -73.912337
4  dummy 5     354    4     0  40.770313 -73.912337

In [63]:
xs = []
ys = []

for row in dummy_df.itertuples():
    lat =  row[5]
    lon = row[6]
    x, y = pyproj.transform(project_projection, google_projection, longitude, latitude)
    xs.append(x)
    ys.append(y)

dummy_df['X_CORD']=xs
dummy_df['Y_CORD']=ys

dummy_df.sample(10)

,STATION,PEOPLE,DAY,TIME,LAT,LON,X_CORD,Y_CORD
70,dummy 1,383,3,16,40.775149,-73.912074,-8.227854e+06,4.979233e+06
178,dummy 4,90,2,12,40.774938,-73.912337,-8.227854e+06,4.979233e+06
174,dummy 5,275,5,8,40.770313,-73.912337,-8.227854e+06,4.979233e+06
472,dummy 3,50,0,8,40.775025,-73.911891,-8.227854e+06,4.979233e+06
293,dummy 4,309,1,0,40.774938,-73.912337,-8.227854e+06,4.979233e+06
321,dummy 2,108,4,8,40.774810,-73.912151,-8.227854e+06,4.979233e+06
30,dummy 1,244,5,8,40.775149,-73.912074,-8.227854e+06,4.979233e+06
363,dummy 4,198,5,8,40.774938,-73.912337,-8.227854e+06,4.979233e+06
150,dummy 1,392,3,4,40.775149,-73.912074,-8.227854e+06,4.979233e+06
124,dummy 5,308,1,12,40.770313,-73.912337,-8.227854e+06,4.979233e+06

In [62]:
import bokeh.plotting

from bokeh.plotting import figure, show, output_file
from bokeh.tile_providers import CARTODBPOSITRON
from bokeh.models import ColumnDataSource

bokeh.plotting.reset_output()

output_file("tile.html")

data = ColumnDataSource(dummy_df)

ny_longitude = -73.912074
ny_latitude = 40.775149

ny_lon, ny_lat = pyproj.transform(project_projection, google_projection, ny_longitude, ny_latitude)

print(ny_lon, ny_lat)

# range bounds supplied in web mercator coordinates
p = figure(x_range=(ny_lon-10000, ny_lon+10000), y_range=(ny_lat-10000, ny_lat+10000),
           x_axis_type="mercator", y_axis_type="mercator")
p.circle(source=data, x='X_CORD', y='Y_CORD')
p.add_tile(CARTODBPOSITRON)

show(p)

-8227854.441154755 4979232.550263305

In [23]:
from bokeh.plotting import figure, show, output_file
from bokeh.tile_providers import CARTODBPOSITRON

bokeh.plotting.reset_output()

output_file("tile.html")

# range bounds supplied in web mercator coordinates
p = figure(x_range=(-12000000.0, -12600000.0), y_range=(4500000, 4800000),
           x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(CARTODBPOSITRON)

show(p)

In [28]:
project_projection = pyproj.Proj("+init=EPSG:4326")  # wgs84
google_projection = pyproj.Proj("+init=EPSG:3857")  # default google projection

longitude = 40.990961
latitude = -73.912074

x, y = pyproj.transform(project_projection, google_projection, longitude, latitude)

In [29]:
x, y

(5008370.868820031, -12480129.899747571)